In [1]:
import pandas as pd

### Figure 1b

In [2]:
figure_1b_df = pd.read_csv("../00.download-and-process-annotations/input/experiment-metadata.tsv", sep="\t")
figure_1b_df.head()

,Batch,Batch_name,Plate_Map_Name,Assay_Plate_Barcode,Type,Anomaly,Density,Polybrene
0,Batch1,2021_04_26_Batch1,JUMP-Target-2_compound_platemap,BR00121438,Target2,dye,100,Absent
1,Batch1,2021_04_26_Batch1,JUMP-Target-2_compound_platemap,BR00121439,Target2,dye,100,Present
2,Batch1,2021_04_26_Batch1,OAA01.02.03.04.A,BR00117035,ORF,none,100,Present
3,Batch1,2021_04_26_Batch1,OAA01.02.03.04.A,BR00117036,ORF,none,100,Present
4,Batch1,2021_04_26_Batch1,OAA01.02.03.04.A,BR00121558,ORF,dye,100,Present

### Figure 1c

In [3]:
figure_1c_df = pd.read_csv("../04.create-visualization/output/crispr_batch_info.csv")
figure_1c_df.head()

  Metadata_Batch Metadata_Plate Metadata_PlateType Metadata_Platemap    Batch
0  20220914_Run1   CP-CC9-R1-01             CRISPR        platemap_1  Batch01
1  20220914_Run1   CP-CC9-R1-02             CRISPR        platemap_2  Batch01
2  20220914_Run1   CP-CC9-R1-03             CRISPR        platemap_3  Batch01
3  20220914_Run1   CP-CC9-R1-04             CRISPR        platemap_4  Batch01
4  20220914_Run1   CP-CC9-R1-05             CRISPR        platemap_5  Batch01

### Figure 2a

In [4]:
figure_2a_df = pd.read_csv("../04.create-visualization/output/all_genes.csv.gz")
figure_2a_df.head()

  Metadata_JCP2022_orf Metadata_NCBI_Gene_ID Metadata_JCP2022_crispr _merge
0       JCP2022_900001                   NaN          JCP2022_800001   both
1       JCP2022_900002                     9          JCP2022_804437   both
2       JCP2022_900003                    15          JCP2022_800011   both
3       JCP2022_900004                    18          JCP2022_800019   both
4       JCP2022_900005                    37          JCP2022_800099   both

### Figure 2b

In [5]:
figure_2b_df = pd.read_csv("../04.create-visualization/output/replicable_genes.csv.gz")
figure_2b_df.head()

,Metadata_JCP2022_orf,Metadata_NCBI_Gene_ID,below_corrected_p_orf,Metadata_JCP2022_crispr,below_corrected_p_crispr,_merge
0,JCP2022_905201,387032,True,JCP2022_807803,True,both
1,JCP2022_912236,127255,True,NaN,NaN,left_only
2,JCP2022_904475,124274,True,JCP2022_802813,True,both
3,JCP2022_911925,84196,True,JCP2022_807607,True,both
4,JCP2022_905200,386724,True,NaN,NaN,left_only

### Figure 2c

In [6]:
figure_2c_df = pd.read_csv("../03.retrieve-annotations/output/phenotypic-activity.csv.gz")
figure_2c_df.head()

,Metadata_JCP2022,mean_average_precision,p_value,corrected_p_value,below_p,below_corrected_p,profile_type
0,JCP2022_900002,0.285216,0.452977,0.462195,False,False,ORF
1,JCP2022_900003,0.746396,0.012949,0.035433,True,True,ORF
2,JCP2022_900004,0.977500,0.002200,0.009404,True,True,ORF
3,JCP2022_900005,1.000000,0.000050,0.000496,True,True,ORF
4,JCP2022_900006,0.700833,0.024099,0.055054,True,True,ORF

### Figure 2d

In [7]:
figure_2d_df = pd.read_csv("../08.explore-phenotypically-active-genes/output/fisher.csv.gz")
figure_2d_df.head()

,modality,odds_ratio,pvalue,confidence_interval_low,confidence_interval_high,variable,offset
0,ORF,0.804303,1.463946e-04,0.718088,0.900990,essentiality,-1
1,CRISPR,6.201463,5.051865e-55,4.636967,8.451643,essentiality,1
2,ORF,1.041577,3.227504e-01,0.961519,1.128443,expression,-1
3,CRISPR,2.110171,2.199729e-35,1.863666,2.392546,expression,1
4,ORF,0.998224,1.000000e+00,0.861772,1.157059,long_insert_size,-1

### Figure 2e

In [8]:
figure_2e_df = pd.read_csv("../08.explore-phenotypically-active-genes/output/fisher_protein_class.csv.gz")
figure_2e_df.head()

,protein_class,modality,odds_ratio,pvalue,confidence_interval_low,confidence_interval_high,offset
0,Enzymes,ORF,0.994910,0.925051,0.906340,1.092229,-1
1,Transporters,ORF,0.914428,0.461767,0.715439,1.171435,-1
2,G-protein coupled receptors,ORF,1.116559,0.343367,0.890759,1.403790,1
3,Transcription factors,ORF,0.963858,0.626459,0.830598,1.119409,-1
4,Immunoglobulin genes,ORF,0.761633,0.472756,0.357226,1.640526,-1

### Figure 3a-d

In [9]:
figure_3a_d_df = pd.read_csv("../03.retrieve-annotations/output/gene_label_retrieval.csv.gz")
figure_3a_d_df.head()

,mean_average_precision,below_corrected_p,Modality,p_value,corrected_p_value,gene_label
0,0.567402,True,ORF,0.011049,0.011049,Protein Class
1,0.135605,True,ORF,0.000050,0.000250,Protein Class
2,0.054527,True,ORF,0.005900,0.007375,Protein Class
3,0.190912,True,ORF,0.001200,0.003000,Protein Class
4,0.321788,True,ORF,0.002600,0.004333,Protein Class

### Figure 5-6

In [10]:
figure_5_6_df = pd.read_csv("../07.compute-cosine-similarities/output/similarities.csv")
figure_5_6_df.head()

    gene_1   gene_2  similarity
0  SLC39A1   ZBTB16   -0.294491
1   ZBTB16  SLC39A1   -0.294491
2    SARS2     ECH1    0.376947
3    SARS2    DGUOK    0.592026
4    SARS2    MRPS2    0.598109

In [11]:
with pd.ExcelWriter("output/source_data.xlsx") as writer:
    figure_1b_df.to_excel(writer, sheet_name="figure_1b", header=True)
    figure_1c_df.to_excel(writer, sheet_name="figure_1c", header=True)
    figure_2a_df.to_excel(writer, sheet_name="figure_2a", header=True)
    figure_2b_df.to_excel(writer, sheet_name="figure_2b", header=True)
    figure_2c_df.to_excel(writer, sheet_name="figure_2c", header=True)
    figure_2d_df.to_excel(writer, sheet_name="figure_2d", header=True)
    figure_2e_df.to_excel(writer, sheet_name="figure_2e", header=True)
    figure_3a_d_df.to_excel(writer, sheet_name="figure_3a-d", header=True)
    figure_5_6_df.to_excel(writer, sheet_name="figure_5-6", header=True)